body {
    background-color: #eaeaea; /* sets the background color */
    font-family: helvetica;
}

.navBar {
    height: 20px;
    padding: 8px;
}

#tools {
    margin: auto;
}

.tool {
    width:100%;
    background-color: #4e934e;
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin-bottom: 1px;
    cursor: pointer;
}

.brushSizeOptions {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: auto;
}


.brushSize {
    display: table-cell;
    opacity: 0.95;
    background-color: #282828;
    border: 2px solid;
    vertical-align: middle;
}

.brushSize:hover{
    text-shadow:0 0 1px #666;
    box-shadow:1px 1px 4px #000;
    opacity:1
}

#size1.brushSize {
    width:15px;
    height:15px;
    border-radius:9px;
}

#size2.brushSize {
    width:20px;
    height:20px;
    border-radius:10px;
}

#size3.brushSize {
    width:30px;
    height:30px;
    border-radius:15px;
}

#size4.brushSize {
    width:40px;
    height:40px;
    border-radius:20px;
}

#size5.brushSize {
    width:50px;
    height:50px;
    border-radius:25px;
}

#thickDisplay {
    font-weight: bold;
}

.color {
    display:block;
    width:50px;
    height:50px;
    border-radius:10px;
    font-size:14px;
    line-height:100px;
    text-shadow:0 1px 0 #666;
    text-align:center;
    text-decoration:none;
    opacity:0.95;
    border: 2px solid;
}

.colorRow {
	display: flex;
	justify-content: space-between;
}

.colors {
    margin:auto; /*centers object */
}

.color:hover{
    text-shadow:0 0 1px #666;
    text-decoration:none;
    box-shadow:1px 1px 4px #000;
    opacity:1
}

#black.color {
    background: black;
    border-color: #434343;
}

#red.color{
    background: red;
    border-color: #8d0000;
}

#blue.color {
    background:blue;
    border-color: #0083ff
}

#yellow.color {
    background:yellow;
    border-color: #ffb31c
}
#orange.color {
    background: orangered;
    border-color: orange;
}

#green.color {
    background: green;
    border-color: limegreen;
}

#purple.color {
    background:purple;
    border-color: mediumpurple;
}

.tool:hover {
    background-color: #38803c;
}

#toolBar {
    background-color: #4e934e;
    float: left;
    border: 20px;
    width:250px;
}

#content {
    float: left;
    position: relative;
}

canvas.board {
    box-shadow: 0 0 18px 0 rgba(40, 40, 40, 0.3);
    cursor: crosshair;
    background-color: #ffffff;
    z-index: 0;
    position: absolute;
}

canvas.overlay {
    z-index: 1;
    background-color: transparent;
    position: absolute;
    cursor: crosshair;
}

.colorPicker {
    margin-top: 10px;
    margin-left: 10px;
}

#clients {
    margin-top: 10px;
    margin-left: 10px;
}

#messageArea {
    text-align: center;
}

#messageWindow {
    resize: vertical;
    width: 90%;
    min-height: 150px;
    outline: none;
    overflow: auto;
}

.login-page {
    width: 33%;
    padding: 4% 0 0;
    margin:0 auto;
}
.form {
    float: left;
    background: #FFFFFF;
    max-width: 360px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
input.submit, .openReg{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 90%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
input.submit:hover, .openReg:hover {
    background: #43A047;
    -webkit-transition: background-color .02s;
    transition: background-color .02s;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.registerForm {
    float: left;
}


.loginForm {
    float: left;
}
