body {
    background-color: #d0e4fe; /* sets the background color to some weird baby blue */
}

#intro {
    text-align: left;
}

canvas.board {
    border: 1px solid black;

    outline-style: outset;
    outline-color: #0200ff;

    cursor: crosshair;
}
