body {
    background-color: #eaeaea; /* sets the background color to some */
    font-family: helvetica;
}

.button {
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    background-color: #38803c;
    border: 1px solid green;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    float: left;
    margin-bottom: 1px;
    cursor: pointer;
}

.clear:hover {               /*Make work with different button styles*/
    background-color: red;
}

.tool:hover {
    background-color: #0200ff;
}
.button:hover {
    background-color: #2d632e;
}

#toolBar {
    padding-top: 5px;
    padding-bottom: 45px;
}

#intro {
    text-align: left;
}

canvas.board {
    border: 1px solid black;


    outline-style: outset;
    outline-color: #0200ff;

    cursor: crosshair;
    background-color: #ffffff
}
